<section style="background-color: rgb(122, 122, 122);">
    <div class="container py-5">
        
      <div class="row">

        <div class="col-lg-4" >
          <div class="card mb-4 bg-dark" >
            <div class="card-body text-center" >
              <img src="assets/images/alienstare.jpg" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3 text-white" >vapor</h5>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Edit Profile</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 bg-dark">
          <h1 class="text-white">posts</h1>
         </div>

         <div class="col-lg-10 bg-dark">
            <h1 class="text-white">review</h1>
           </div>

         
      </div>
    </div>
       

  </section>