<p>add background image and change form colors</p>

<div class="back">

    <div class="div-center">
  
      <div class="content" >
  
        <h3 style="text-align:center;">Login</h3>
        <hr />
        <form [formGroup]="myForm" (ngSubmit)="login()" novalidate>
          <div class="form-group" >
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" formControlName="email"  placeholder="Email">
            <span *ngIf="isValidField('email')"  class="text-danger" >{{ getFieldError('email') }}</span>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control"  formControlName="password" placeholder="Password" >
            <span *ngIf="isValidField('password')"  class="text-danger" >{{ getFieldError('password') }}</span>
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Remeber me
              </label>
            </div>
          </div>
          
          <hr />
          <button class="btn btn-primary " style="margin-right: 7em;" type="submit">Log in</button>
          <button class="btn btn-secondary"  type="submit">Forgot Password?</button>
  
        </form>
  
      </div>
  
    </div>